/* variables */
:root {
  --color-primary: #aaabad;
  --color-secondary: #0755ff;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-logoDark: #01213f;
}
* {
  margin: 0;
  padding: 0;
  border: none;
}
.container {
  width: 90vw;
}
img {
  width: 40rem;
}

/* nav menu */
nav {
  background: var(--color-primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  margin: 1rem;
}
nav h3 {
  font-size: 2rem;
  color: var(--color-logoDark);
}
span {
  font-size: 2rem;
  color: var(--color-secondary);
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.btn {
  margin: 1rem;
  width: 5rem;
  padding: 1rem;
  background: var(--color-secondary);
  color: var(--color-white);
  border-radius: 20px;
  text-align: center;
  box-shadow: 4px 1px 4px var(--color-dark);
}
.signup {
  background: transparent;
  border: 3px solid var(--color-white);
  color: var(--color-white);
}
.btn:hover {
  background: var(--color-secondary);
  color: var(--color-white);
  border: 3px solid var(--color-primary);
}
.login:hover {
  background: var(--color-white);
  color: var(--color-secondary);
  border: 3px solid var(--color-white);
}
/* hero section */
.hero__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--color-primary);
  padding-top: 4rem;
}
.hero__text {
  color: var(--color-white);
}
.hero__text h2 {
  font-size: 3rem;
}
p {
  font-size: 1rem;
  width: 60%;
  margin-top: 3rem;
}
.wallet {
  margin-top: 3rem;
  padding: 1rem;
  background: var(--color-secondary);
  color: var(--color-white);
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid var(--color-secondary);
  box-shadow: 4px 1px 4px var(--color-dark);
}
.wallet:hover{
  background:var(--color-white);
  color: var(--color-secondary);
}

/* services section */
.services__section {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
}
.services__section h1 {
  font-size: 4rem;
  color: var(--color-secondary);
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.service {
  width: 18rem;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
  border-radius: 0.8rem;
  box-shadow: 4px 4px 8px var(--color-primary);
}
.service:hover {
  box-shadow: 4px 4px 8px var(--color-primary);
}
.services__section img {
  width: 18rem;
  height: 8rem;
  margin: auto;
  margin-top: 0;
  border-radius: 0.8rem 0.8rem 0 0;
}
.service p {
  margin: 1rem;
  text-align: center;
  color: var(--color-white);
  font-size: 1.2rem;
  margin: auto;
  padding: 2rem;
}
/* promo section */

.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: var(--color-primary);
}
.promo__img {
  margin: 1rem;
}
.promo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  text-align: center;
  color: var(--color-white);
  margin: auto;
}

/* review section */

.reviews {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.reviews img {
  width: 5rem;
  height: 5rem;
  border-radius: 3rem;
  margin: auto;
  position: relative;
  bottom: 2rem;
  border: 5px solid var(--color-white);
}
.review {
  display: flex;
  flex-direction: column;
  background: var(--color-secondary);
  width: 25rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px var(--color-primary);
}
.review h3 {
  text-align: center;
  font-size: 1.9rem;
  color: var(--color-white);
  margin-top: -1.7rem;
}
.review p {
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-white);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/* footer section */
footer {
  margin-top: 5rem;
  background: var(--color-dark);
}
a {
  color: var(--color-white);
  text-decoration: none;
}
.footer__section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  color: var(--color-white);
}
.footer__section ul {
  display: flex;
  flex-direction: column;
}
.footer__section ul li {
  padding: 0.5rem;
  font: size 1rem;
}
.logo h3 {
  color: var(--color-white);
  font-size: 2rem;
}
.footer__trade {
  display: flex;
  flex-direction: column;
}
.footer__section h3 {
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0.5rem;
}
@media screen and (max-width: 600px) {
  /* nav bar section */
  nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-direction: row;
  }
  /* hero section */
  .hero__section {
    flex-direction: column;
    width: 100vw;
  }
  .hero__section img {
    margin-top: 3rem;
    width: 100vw;
  }
  .hero__text {
    color: var(--color-white);
    text-align: center;
    margin: auto;
  }
  .hero__text h2 {
    font-size: 3rem;
  }
  .hero__text p {
    font-size: 1.3rem;
    width: 100%;
    margin-top: 3rem;
  }
  .wallet {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 1rem;
  }

  /* services section */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
  }
  .services__section h1 {
    font-size: 2rem;
    text-align: center;
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
  }
  .service {
    width: 70vw;
    flex-direction: column;
    margin-bottom: -2rem;
  }
  .services__section img {
    width: 70vw;
    height: 8rem;
    margin: auto;
  }
  /* promo section */
  .promo {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .promo__img {
    margin: 0;
  }
  .promo__img img {
    width: 100vw;
  }
  /* review section */
  .reviews {
    display: flex;
    flex-direction: column;
  }
  .review {
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    width: 90vw;
  }

  /* footer */

  .footer__section {
    width: 100px;
    flex-direction: column;
  }
}
